<%= form_for(@order_supplier) do |f| %>
  <% if @order_supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_supplier.errors.count, "error") %> prohibited this order_supplier from being saved:</h2>

      <ul>
      <% @order_supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.number_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :supplier_id %><br>
    <%= f.select(:supplier_id, @suppliers.map {|s| [s.name, s.id]}) %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.number_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
