<h1>Listing people Unit  
			<%= link_to @unit.id , unit_path(:id=>@unit.id) %> 
			<%= link_to @unit.name, unit_path(:id=>@unit.id) %> 
</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nickname</th>
      <th>Accesslevel</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Password</th>
      <th>Active</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.id %></td>
        <td><%= person.nickname %></td>
        <td><%= person.accesslevel %></td>
        <td><%= person.name %></td>
        <td><%= person.surname %></td>
        <td><%= person.email %></td>
        <td><%= person.telefone %></td>
        <td><%= person.password %></td>
        <td><%= person.active %></td>
        <td><%= person.note %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path(:unit_id=>@unit.id) %>

