<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= link_to( @unit.group_id , :controller => 'groups', 
							:action => 'show', :id => @unit.group_id ) %> 	
	<%= link_to '(Members)', units_path(:group_id=>@unit.group_id) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @unit.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @unit.telefone %>
</p>

<p>
  <strong>Active:</strong>
  <%= @unit.active %>
</p>

<p>
  <strong>Note:</strong>
  <%= @unit.note %>
</p>

<p>
  <strong>Account:</strong>
  <%= @unit.account_id %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %>

